[user]
	name = James Rampton
	email = me@jamesrampton.com
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
	verbose = true
[core]
	editor = hx
	pager = delta
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false
	side-by-side = true
	line-numbers = true
	syntax-theme = none
	true-color = always
	plus-emph-style = reverse green
	minus-emph-style = reverse red
	line-numbers-plus-style = green
	line-numbers-minus-style = red
	line-numbers-zero-style = gray
[diff]
	colorMoved = default
	tool = Kaleidoscope
	algorithm = histogram
	context = 10
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
	prompt = false
[gpg]
  format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only --features=interactive
[merge]
	conflictstyle = zdiff3
	tool = Kaleidoscope
	keepbackup = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
	prompt = false
[pull]
	rebase = false
[push]
	autoSetupRemote = true
