[user]
	name = James Rampton
	email = me@jamesrampton.com
[alias]
    a=add
    cm=commit -m
    co=checkout
    l=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue(%cr)%Creset %an' --abbrev-commit --date=relative
    pu=pull
    ps=push
    s=status

