[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
    ignore = dirty
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
    ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/leshill/vim-json.git
    ignore = dirty
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule ".vim/bundle/tmux-navigator"]
	path = .vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
    ignore = dirty
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
    ignore = dirty
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
    ignore = dirty
[submodule ".vim/bundle/exchange"]
	path = .vim/bundle/exchange
	url = git://github.com/tommcdo/vim-exchange.git
    ignore = dirty
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
    ignore = dirty
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
    ignore = dirty
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
    ignore = dirty
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
    ignore = dirty
[submodule ".vim/bundle/pencil"]
	path = .vim/bundle/pencil
	url = https://github.com/reedes/vim-pencil.git
    ignore = dirty
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
    ignore = dirty
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
    ignore = dirty
[submodule ".vim/bundle/goyo"]
	path = .vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
    ignore = dirty
[submodule ".vim/bundle/limelight"]
	path = .vim/bundle/limelight
	url = https://github.com/junegunn/limelight.vim.git
    ignore = dirty
[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
    ignore = dirty
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
    ignore = dirty
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
    ignore = dirty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
    ignore = dirty
[submodule ".vim/bundle/vim-pad"]
	path = .vim/bundle/vim-pad
	url = git@github.com:fmoralesc/vim-pad.git
    ignore = dirty
[submodule ".vim/bundle/vim-g"]
	path = .vim/bundle/vim-g
	url = git@github.com:szw/vim-g.git
    ignore = dirty
[submodule ".vim/bundle/javascript-syntax"]
	path = .vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
    ignore = dirty
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
    ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bin/times"]
	path = bin/times
	url = /Users/james/Dropbox/git/times.git
    ignore = dirty
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bin/--force"]
	path = bin/--force
	url = https://github.com/zsh-users/antigen.git
[submodule "bin/antigen"]
	path = bin/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/geeknote"]
	path = .vim/bundle/geeknote
	url = https://github.com/neilagabriel/vim-geeknote
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
