[user]
  name = James Rampton
  email = me@jamesrampton.com
[alias]
  a=add
  b=branch
  c=commit
  cm=commit -m
  co=checkout
  monolog= log --graph --pretty=format:'%h -%d %s (%cr) %an' --abbrev-commit --date=relative
  l=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue(%cr)%Creset %an' --abbrev-commit --date=relative
  pu=pull
  ps=push
  s=status

[core]
  editor = vim
[merge]
  tool = vimdiff
[push]
  default = simple
